body {
    background-color: rgb(68, 67, 65);
    margin: auto;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    color: #aaa;
}

img {
    float: left;
    width: 200px;
    border: double 5px red;
    padding: 15px;
    margin: 15px;
    border-radius: 10%;
    rotate: 15deg;
}